.item-card {
  display: flex;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;

  max-width: 100%;
  height: 150px;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 140px;
  overflow: hidden;
  justify-content: space-between;
}

.info-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.item-card__img {
  width: 130px;
  height: 130px;
  object-fit: fill;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}

.item-card__button {
  background: none;
  cursor: pointer;
  width: 10%;
  height: 50%;
  padding: 0;
  background-image: url(../../../assets/like.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.item-card__button.liked {
  background-image: url(../../../assets/like-active.svg);
}

.item-card__name {
  font-size: clamp(14px, 2.5vw, 24px);
  margin: 0;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  word-wrap: break-word;
  max-width: 100%;
}

.item-card__town {
  margin-top: 0px;
  font-size: clamp(10px, 2vw, 17px);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  word-wrap: break-word;
  max-width: 100%;
}

.item-card__rating {
  font-size: clamp(10px, 2vw, 17px);
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  word-wrap: break-word;
  max-width: 100%;
}
