.header {
  background-color: #848588;
  padding: 19px 0;
  color: white;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-components {
  padding: 0;
}
.header-from {
  margin-left: 60px;
  width: 350px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  height: 37px;
  font-size: 16px;
  font-size: 20px;
}

.header-to {
  margin-left: 10px;
  width: 350px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  height: 37px;
  font-size: 16px;
  font-size: 20px;
}

.header-title {
  margin-left: 20px;
  margin-right: 164px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}
